.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
html {
    scroll-behavior: smooth;
}
.main p {
    font-family: 'Roboto Slab';
    font-size: 32px;
    color: black;
    text-align: center;
    font-weight: 400;
    font-style: normal;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.links h3 {
    font-size: 35px;
    display: inline-block;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
}
a {
    text-decoration: none;
    color: rgb(100, 100, 100);
}
#active {
    color: rgb(0, 0, 0);
}
.soc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}
.soc img {
    display: inline-block;
    row-gap: 50px;
}
.pro1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pro1 img {
    display: inline-block;
}.pro2 {
    display: flex;
    justify-content: center;
}
.pro2 img {
    width: 500px;
    display: inline-block;
}
.pro3 {
    display: flex;
    justify-content: center;
}
.pro3 img {
    width: 500px;
    display: inline-block;
}
.pro4 {
    display: flex;
    justify-content: center;
}
.pro4 img {
    width: 500px;
    display: inline-block;
}
.end {
    text-align: center;
    font-size: 26px;
    margin-top: 50px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-style: normal;
}
.end a {
    color: rgb(85, 84, 84);
}
.end h1 {
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
}
@media only screen and (max-width: 600px) {
    .pro1 {
        display: grid;
        row-gap: 8px;
    }
    .pro2 {
        display: grid;
        row-gap: 8px;
    }
    .pro3 {
        display: none;
    }
    .pro4 {
        display: none;
    }
    .center {
        display: none;
    }
    .soc {
        display: inline-flex;
        position: absolute;
        top: 30px;
        gap: 20px;
        margin-left: 286px;
        padding: 0px;
        width: 20px;
    }
    .main {
        margin-top: 70px;
    }
    .text {
        display: block;
        margin-top: 70px;
        text-align: center;
        font-family: 'Roboto Slab';
        font-size: 30px;
    }
    .links {
        display: none;
    }
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        font-family: 'Roboto Slab';
        margin-top: 40px;
        font-size: 30px;
    }
    .nav a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .nav a:hover {
        color: rgb(255, 0, 0);
    }
    .end {
        margin-top: 150px;
    }
    .end h1{
        text-align: center;
        font-size: 25px;
        margin-top: 50px;
        font-family: 'Roboto Slab';
        font-weight: 400;
        font-style: normal;
    }
    .soc2 {
        display: flex;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
        gap: 40px;
        cursor: pointer;
    }
    .soc2 img {
        display: inline-block;
        row-gap: 50px;
    }
    .endlogo img{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}